######################################################################
docco
hold
lib-cov
node_modules
*.html
*.js
*.log
*.map
*.pid
delete-me
tmp
######################################################################
$RECYCLE.BIN/
*.*~
*.log~
*.un~
*~
.*.sw[a-z]
.DS_Store
.Spotlight-V100
.Trashes
.\#*
._*
.directory
.elc
/.emacs.desktop
/.emacs.desktop.lock
Desktop.ini
Session.vim
Thumbs.db
\#*\#
auto-save-list
logs
temp
tmp
tramp
######################################################################
